form li{
	list-style: none;
	margin-bottom: 20px;
}
label
  {
  	display: block;
  }
  form ul
   {
   	padding-left: 0;
   }
   textarea
      {
      	width: 60px;
      	height:100px;
      }
      ul
      {
      	background-color: pink;
      }